html, body, div {
  margin:0;
  padding:0;
  border:0;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#site-main {
  width: 1040px;
  margin: 0 auto;
}
.boardgame {
  margin: 0 auto;
  padding: 0 0 3vw;
  max-width: 80%;  
}

.scores {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center; 
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;  
}

h1 {
  text-align: center;
}

.players {
  width: 45%;
  padding: 5px;
  border:3px solid rgb(48, 28, 28);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;   
}
.cell {
  width: 14%;
  padding: 5px;
  height: 150px;
  border:3px solid rgb(48, 28, 28);
  border-radius: 2px;
  text-align: center;
  /*cursor: pointer;*/
}
.cell:hover {
  /*border:1px solid black;*/
  box-shadow: inset 0px 0px 0px 5px rgb(114, 225, 253);
}
.active {
  background-color: rgb(43, 90, 177); 
  /*background-color: transparent;*/
  /*transform: rotateY(45);*/
}
.checked {
  background-color: rgb(99, 241, 99);
  /*transition-delay: 1s;*/
  transition:linear 0.2s;
}
.fail {
  background-color:rgba(249, 0, 0, 0.38);
  /*transition-delay: 1s;*/
  transition:linear 0.2s;
}
/*** CSS CARDS ***/
.seahorse {
  background-image: url(../assets/images/seahorse.png);  
}

.octopus {
  background-image: url(../assets/images/octopus2.png);  
}

.shark {
  background-image: url(../assets/images/shark.png);  
}
.whale {
  background-image: url(../assets/images/whale.png);  
}

.squid {
  background-image: url(../assets/images/squid.png);  
}

.dolphin {
  background-image: url(../assets/images/dolphin.png);  
}

.starfish {
  background-image: url(../assets/images/starfish.png);  
}

.seal {
  background-image: url(../assets/images/seal.png);  
}

.crab {
  background-image: url(../assets/images/crab.png);  
}
.seahorse, .octopus, .shark, .whale, .squid, .dolphin, .starfish, .seal, .crab, .aqua {
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  color: transparent;
  transform: rotateY(45);
}

.aqua {
  /*background-color:black;*/
  /*background-image: url(../assets/images/coral.png);  */
}

.p1, .p2, .play-game, .restart-game, .music, .sound-effects {
  position: relative;  
}
.play-game, .restart-game, .music-on, .music-off, .se-on, .se-off {
  padding:10px;
}

.p1 {  
  top: -550px;
  left: 900px;
}

.p2 {
  top: -500px;
  left: 660px;
}

.play-game {
  top: -420px;
  left: 500px;
}

.restart-game {
  top: -350px;
  left: 405px;
}

input {
  margin-left:10px;
}

.music {
  top:-280px;
  left:255px;
}
.sound-effects {
  top:-250px;
  left:889px
}
button.music-on